
*
{
margin:0;
 padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items:center;
}

.music_player{
    width: 400px;
    
    padding: 25px ;
    text-align: center;
    background-color: pink;

}

nav{
    display:flex;
    justify-content: space-between;

    align-items: center;
    margin-bottom: 30px;
}

nav .circle{
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    width:40px;
    height: 40px;
    color: red;
    background: #fff;
    box-shadow: 3px 3px #d18b79;
}
.song_img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow:  0 0 0 3px #e6b2a6;
}

.music_player h1{
    font-size: 20px;
    font-weight: 400;
    color:#333;
    margin-top:10px;
}
.music_player p{
    font-size: 14px;
    color:#333;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height:6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow:  0 0 2px 3px #f350a2;
    /* box-shadow: 3px 3px #f350a2; */

}
.controls{
    display:flex;
    justify-content: center;
    align-items: center;

}
.controls div{
    width: 60px;
    height:60px;
    margin: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:f53192;
    box-shadow: 3px 3px #d18b79;
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.3);
    background: #f53192;
    color:#fff;
}